openapi: 3.1.0
info:
  title: IMTS Site API
  version: 16.0.0
servers:
  - url: https://imts-ecossistema.italo-teofilo.chatgpt.site
paths:
  /api/leads:
    post:
      summary: Registra um contato e tenta encaminhá-lo
      operationId: createLead
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/LeadInput'}
      responses:
        '202': {description: Lead persistido, entregue ou pendente}
        '400': {description: JSON inválido}
        '403': {description: Origem rejeitada}
        '413': {description: Corpo excede 12 KB}
        '422': {description: Validação falhou}
        '429': {description: Limite temporário excedido}
        '503': {description: Persistência indisponível}
  /api/ai/query:
    post:
      summary: Consulta a IARA pública
      operationId: queryPublicAssistant
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [question]
              properties:
                question: {type: string, minLength: 3, maxLength: 2000}
                level: {type: string, enum: [public, authenticated]}
      responses:
        '200': {description: Resposta gerada ou fallback curado}
        '400': {description: JSON inválido}
        '403': {description: Origem rejeitada}
        '413': {description: Corpo excede 8 KB}
        '422': {description: Pergunta inválida}
        '429': {description: Limite temporário excedido}
        '501': {description: Modo autenticado indisponível}
  /api/events:
    post:
      summary: Persiste telemetria consentida
      operationId: recordSiteEvent
      responses:
        '202': {description: Evento aceito}
        '403': {description: Origem rejeitada}
        '413': {description: Corpo excede 4 KB}
        '422': {description: Evento fora da lista permitida}
  /api/operations/retry-leads:
    post:
      summary: Repete entregas pendentes
      operationId: retryPendingLeads
      security: [{operationsBearer: []}]
      responses:
        '200': {description: Lote processado}
        '401': {description: Segredo ausente ou inválido}
        '503': {description: Banco indisponível}
  /api/integrations/status:
    get:
      summary: Informa capacidades sem expor segredos
      operationId: integrationStatus
      responses:
        '200': {description: Estado público das integrações}
components:
  securitySchemes:
    operationsBearer:
      type: http
      scheme: bearer
      description: Segredo operacional estático; substituição por identidade de workload é P0.
  schemas:
    LeadInput:
      type: object
      required: [intent, name, email, message, consent]
      properties:
        intent: {type: string, enum: [solution, partnership, initiative, talent, capital, relations]}
        name: {type: string, minLength: 2, maxLength: 120}
        email: {type: string, format: email, maxLength: 254}
        organization: {type: string, maxLength: 180}
        role: {type: string, maxLength: 180}
        message: {type: string, minLength: 10, maxLength: 6000}
        consent: {type: boolean, const: true}
        website: {type: string, description: Honeypot; deve permanecer vazio.}
